*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    overflow: scroll;
    width: 100%;
    line-height: 1.4;
    
}